* {
  background-color: black;
}

.jumbotron {
  background-color: rgb(12, 0, 54);
}

.container text-center {
  background-color: chartreuse;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin: auto;
      border-radius: 0;
      width: 100%;
      position: fixed;
      top: 0px;
    }
    
    /* background color and some padding to the footer */
    footer {
      background-color: #010029;
      padding: 25px;
    }